body {
    background-color: #784848;
}

.blog-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #784848;
}

.blogs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.blog-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.blog-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.blog-date {
    font-size: 0.9em;
    color: #666;
}

.blog-author {
    font-size: 0.9em;
    color: #666;
}

.read-more {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
    transition: color 0.3s;
}

.read-more:hover {
    color: #0056b3;
}
